@model Offer

@{
    ViewData["Title"] = "Suppression";
    Layout = "_Layout";
}

<div class="container-fluid container-md">
    <div class="d-flex border-start border-bottom border-success-subtle ps-2 pt-0">
        <span class="border-start border-success pt-2 p-0"></span>
        <h1 class="border-bottom border-success p-1">Suppression</h1>
    </div>

    <form asp-action="Delete" method="post" class="mt-5 col-md-10 offset-md-1">
        <input type="hidden" asp-for="Id"/>
    
        <div class="form-group p-2">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" type="text" class="form-control" readonly>
        </div>

        <div class="form-group p-2">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" type="text" class="form-control" readonly>
        </div>

        <div class="form-group p-2">
            <label asp-for="Percentage" class="control-label"></label>
            <input asp-for="Percentage" type="text" class="form-control" readonly>
        </div>

        <div class="form-group mt-5 d-flex justify-content-evenly">
            <a asp-controller="Offers" asp-action="Index" class="btn btn-outline-secondary"><i class="bi bi-arrow-left-circle"></i> Retour</a>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Supprimer</button>
        </div>

        @*Boîte de dialogue*@
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Etes-vous sûr de vouloir supprimer la promotion ?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                    </div>

                    <div class="modal-body text-center">
                        <i class="bi bi-exclamation-triangle" style="font-size: 2rem; color: red;"></i>
                        <p>En confirmant la suppression, les produits qui bénéficient de cette promotion seront également supprimés.</p>
                    </div>

                    <div class="modal-footer">
                        <a asp-controller="Offers" asp-action="Index" class="btn btn-outline-secondary">Fermer</a>
                        <input type="submit" value="Supprimer" class="btn btn-outline-danger">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>