<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="mt-5 mb-5">Une erreur s'est produite</h1>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Retour</a>
    </div>
</div>