@model MercadonaStudi.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Connexion";
    Layout = "_Layout";
}

<section class="container-fluid container-sm">
    <div class="d-flex border-start border-bottom border-success-subtle ps-2 pt-0">
        <span class="border-start border-success pt-2 p-0"></span>
        <h1 class="border-bottom border-success p-1">Connexion</h1>
    </div>

    <form asp-action="Login" method="post">
        <div class="form-group mt-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input type="text" asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Password" class="form-label">Mot de passe</label>
            <input type="password" asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mt-5 d-flex justify-content-center">
            <input type="submit" value="Connexion" class="btn btn-outline-success">
        </div>
    </form>
</section>